<div class="bredcrumb-container">
    <ul class="breadcrumb">
        <li><a href="/"><i class="icon-home"></i>Home</a> </li>
        {% assign crumbs = page.url | split: '/' %}
        {% assign crumbstotal = crumbs | size %}
        {% assign crumbs_path = '/' %}
        {% for crumb in crumbs offset:1 %}
            {% assign crumbs_path = crumbs_path | append: crumb | append: '/' %}
            {% unless crumb == 'index.html' %}
                {% if forloop.last %}
                {% assign crumbs_path = '#' %}
                {% endif %}
                <li><span class="divider">&#187;&nbsp;</span> <a href="{{crumbs_path}}">{{ crumb | remove: '.html' | capitalize }}</a></li>
            {% endunless %}
        {% endfor %}
    </ul>
</div>