<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Docs</span>
      </a>
      {% if page.layout != 'product-category-landing' %}
      <i class="bi bi-list toggle-sidebar-btn"></i>
      {% endif %}
    </div><!-- End Logo -->
	<div class="row col-9" style="padding-left: 20px;">
		
		<div class="col col-md-10">
		<form class="search-form d-flex align-items-center" method="POST" action="#">
			<input type="text" name="search_field" class="form-control"
					placeholder="Search Here" id="search_field" rel= "Search" title="Search Here">
				<button type="button" title="Search">
					<i class="bi bi-search"></i>
				</button>
		</form>
    <ul id="search-results-container"></ul>
		</div>
        <div class="col col-md-2">
            <div class="nav-item dropdown pe-3" style="float: right;padding-top: 5px;">
                <a class="nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                   <span class="d-none d-md-block dropdown-toggle ps-2">
                   Help
                   </span>
                </a><!-- End Profile Iamge Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                 <li>
                    <a class="dropdown-item d-flex align-items-center" href="/">
                        Home
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/tags/">
                     Tags
                    </a>
                  </li>
                  </ul><!-- End Profile Dropdown Items -->
            </div><!-- End Profile Nav -->
        </div>
        
	</div>


	<!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
			<li class="nav-item d-block d-lg-none">
                <a	class="nav-link nav-icon search-bar-toggle " href="#"> 
                    <i class="bi bi-search"></i>
			</a>
			</li>
			<!-- End Search Icon-->
        </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
