<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body class="toggle-sidebar">
	{% include header.html %}
<style>
.label-success {
    background-color: #4caf50;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
main a {
    color: #2196f3;
    text-decoration: none;
}
.tag-links-container{
    padding-top: 25px;
}
.heirarchy{
    width: 30%;
    margin: 0 auto;
}
.heirarchy #tree a{
    color: black
}
.heirarchy #tree :hover{
    color: black
}
    </style>
	<main id="main" class="main">
    

        <!-- Heirarchy Structure -->

        {% if page.tree %}       
        <div class="container heirarchy-container">
         <div class="heirarchy">
            <h5 class="">Heirarchy Structure of Documentation</h5>
            <ul id ="tree">
                {% for tree1 in page.tree %}
                    <li><a href="{{site.baseurl}}{{tree1.link}}">{{tree1.title}}</a>
                    {% if tree1.children.size > 0 %} 
                     <ul>
                        {% for tree2 in tree1.children %}
                          <li><a href="{{site.baseurl}}{{tree2.link}}">{{tree2.title}}</a>
                            {% if tree2.children.size > 0 %} 
                            <ul>
                               {% for tree3 in tree2.children %}
                                 <li><a href="{{site.baseurl}}{{tree3.link}}">{{tree3.title}}</a>
                                    {% if tree3.children.size > 0 %} 
                                    <ul>
                                       {% for tree4 in tree3.children %}
                                         <li><a href="{{site.baseurl}}{{tree4.link}}">{{tree4.title}}</a>
                                            {% if tree4.children.size > 0 %} 
                                            <ul>
                                               {% for tree5 in tree4.children %}
                                                 <li><a href="{{site.baseurl}}{{tree5.link}}">{{tree5.title}}</a>
                                                  
                                                 </li>
                                               {% endfor %}
                                            </ul>
                                           {% endif %}
                                         </li>
                                       {% endfor %}
                                    </ul>
                                   {% endif %}
                                 </li>
                               {% endfor %}
                            </ul>
                           {% endif %}
                          </li>
                        {% endfor %}
                     </ul>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
         </div>
        </div>
        {% endif %}





        {% assign rawtags = "" %}
        {% for post in site.pages %}
        {% assign ttags = post.tags | join:'|' | append:'|' %}
        {% assign rawtags = rawtags | append:ttags %}
        {% endfor %}
        
        {% assign rawtags = rawtags | split:'|' | sort %}
        
        {% assign tags = "" %}
        
        {% for tag in rawtags %}
        {% if tag != "" %}
        
        {% if tags == "" %}
        {% assign tags = tag | split:'|' %}
        {% endif %}
        
        {% unless tags contains tag %}
        {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
        {% endif %}
        {% endfor %}
        
        <br/>
        
        {% for tag in tags %}
        <a class="label label-success" href="#{{ tag | slugify }}" > {{ tag }} </a> &nbsp;
        {% endfor %}
        <div class="tag-links-container">
        {% for tag in tags %}
        <h4 id="{{ tag | slugify }}">{{ tag }}</h4>
        <ul>
          {% for post in site.pages %}
          {% if post.tags contains tag %}
          <li>
              <a href="{{site.baseurl}}{{ post.url }}">
                {{ post.title }}
              </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endfor %}
        </div>
    </main>
	{% include footer.html %}

    <script>

        $(document).ready(function(){
            $('ul#tree').mgaccordion({
                theme: "tree"
            });
        });

    </script>


</body>
</html>
